.sidebar {
  overflow-y: scroll;
  background-color: white;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.logo_container {
  background-color: #001529;
}
.logo {
  width: 2.5rem;
  height: 3.75rem;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 1rem;
}
