.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b1037;
}
.text_line {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s linear forwards, filling 5s ease-in forwards;
  font-size: 80px;
}
.text_line text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0%,
  90% {
    fill: rgb(29, 228, 29);
    fill-opacity: 0;
  }
  100% {
    fill: rgb(29, 228, 29);
    fill-opacity: 1;
  }
}
